# Xcode
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
Packages/
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# Temporary files
*.swp
*~
